<h1>Here are the trucks currently submitted</h1>

<div class="dropdown">
  Filter By:
  <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Model
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/trucks">All</a>
    <a class="dropdown-item" href="?make=Toyota">Toyota</a>
    <a class="dropdown-item" href="?make=Jeep">Jeep</a>
    <a class="dropdown-item" href="?make=Ford">Ford</a>
    <a class="dropdown-item" href="?make=Land Rover">Land Rover</a>
  </div>
</div>
<ul>
  <% @trucks.each do |truck| %>
    <li><%= link_to truck.make + ", " + truck.model, truck_path(truck) %></li>
  <% end %>
</ul>
